header{
    display: flex;
    justify-content: space-between;
    background-color: #8257E5;
    border-bottom: 10px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}
nav{
   
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: white;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
a::before{
    content: "";
    background-color: #F25A70;
   
    width: 10px;
    height: 10px;
   margin-right: 10px;
}








