header{
    

    position: fixed;
    
    
    width: 98%;
    display: flex;
    justify-content: space-between;
    background-color: #8257E5;
    border-bottom: 10px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}
nav{
   
    text-align: right;
}











