.button{

    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 60px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0;
    transition: all 0.2s linear;
    font-size: 20px;
    color: white;
   
  
}

.button:hover{
    background-color: #fa2746;
    cursor: pointer;
    transform: scale(1.09);
    box-shadow: 8px 6px 0.3px black;
    
   
}