.progress-bar {
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-webkit-progress-value {
    width: 40%;
    background-color: #AF60BC;
}

.progress-bar::-moz-progress-bar {
    background-color: #AF60BC;
}
.progress-bar.-js::-webkit-progress-bar,
.progress-bar.-js::-webkit-progress-value {
    width: 30%;
    background-color: #AF60BC;
}

.progress-bar.-java::-webkit-progress-bar,
.progress-bar.-java::-webkit-progress-value {
    width: 45%;
    background-color: #AF60BC;
}

.progress-bar.-mysql::-webkit-progress-bar,
.progress-bar.-mysql::-webkit-progress-value {
    width: 28%;
    background-color: #AF60BC;
}